@import './style.scss';

.contents-title{
    padding: 50px 0 50px;
    font-size: 120px;
    @include font-style($color:#fff, $text-shadow:(-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000));
}
.active{
    box-shadow: none;
}

.about{
    width: 100%;
    height: auto;
    padding: 200px 0 100px;

    &-wrapper{
        width: 80%;
        height: auto;
        margin: 0 auto;
    }
}

.section-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;

    &-images{
        width: 45%;
        display: flex;
        justify-content: end;
        order: 1;
       
        img{
            width: 100%;
        }
    }   

    &-desc{
        width: 50%;
        order: 2;

        & div{
          height: 100px;  
          margin-top: 30px;
        }
    }
}

.about-desc-list{
    margin-bottom: 20px;

    &-name{
        font-size: 22px;
    }

    &-text{
        margin: 20px 0;
        font-size: 16px;

        strong{
            font-size: 16px;
        }
    }

    &-skill{
        font-size: 15px;
        
        span{
            background-color: #b34831;
            color: #fff;
            padding: 2px 8px;
            margin-right: 5px;
            font-size: 16px;
        }
    }
}

@include tablet{
    .about{
        width: 100%; 

        &-wrapper{
            width: 90%;
        }
    }
    .section-container{
        width: 100%;
        .section-container-images{
            display: none;
        }

        &-desc{
            width: 100%;
        }
    }
}

@include mobile{

    .about-wrapper{
        width: 95%;
    }

    .section-container{
        flex-flow: column;

        &-images{
            display: none;
        }

        &-desc{
            width: 100%;
        }
    }
}