@import './style.scss';



.about{
    width: 100%;
    height: auto;

    &-wrapper{
        width: 80%;
        height: auto;
        margin: 0 auto;
    }
}

.section-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;

    &-images{
        width: 45%;
        display: flex;
        justify-content: end;
        order: 1;
       
        img{
            width: 100%;
        }
    }   

    &-desc{
        width: 50%;
        order: 2;

        & div{
          height: 100px;  
          margin-top: 30px;
        }
    }
}

.about-desc-list{
    margin-bottom: 20px;

    &-name{
        font-size: 22px;
    }

    &-text{
        margin: 20px 0;
        font-size: 16px;

        strong{
            font-size: 16px;
        }
    }

    &-skill{
        font-size: 15px;
        
        span{
            background-color: #b34831;
            color: #fff;
            padding: 2px 8px;
            margin-right: 5px;
            font-size: 16px;
        }
    }
}