@import './style.scss';


.contents-title{
    font-size: 120px;
    @include font-style($color:#fff, $text-shadow:(-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000));
}

.exp{
    width: 100%;
    height: auto;

    &-wrapper{
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
}