@import './style.scss';



.exp{
    width: 100%;
    height: auto;
    padding: 200px 0 100px;

    &-wrapper{
        width: 80%;
        height: 100%;
        margin: 0 auto;
    }
}
.section-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;

    &-images{
        width: 45%;
        display: flex;
        justify-content: end;
        order: 2;

        img{
            width: 100%;
        }
    }

    &-desc{
        width: 50%;
        order: 1; 

        & div{
          height: 100px;  
        //   border: 1px solid black;
          margin-top: 30px;
        }
    }
}

@include tablet{
    .exp{
        width: 100%; 

        &-wrapper{
            width: 90%;
        }
    }
    .section-container{
        width: 100%;
        .section-container-images{
            display: none;
        }

        &-desc{
            width: 100%;
        }
    }

    
}



@include mobile{

    .exp-wrapper{
        width: 95%;
    }

    .section-container{
        width: 100%;
        .section-container-images{
            display: none;
        }

        &-desc{
            width: 100%;
        }
    }

}