.header{
    width: 100%;
    height: 100px;
    //background-color: lightgray;
    position: fixed;
    z-index: 999;
    border: 1px solid lightgray;
    backdrop-filter: blur(5px);
    display: flex;
    flex-flow: column;
    justify-content: center;
    
    &-wrapper{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        

        &-nav{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;         

            &-list a{
                display: flex;
                flex-flow: column;
                padding: 15px;
                font-size: 20px;

                & span{
                    color: gray;
                    font-size: 15px;
                }
            }

        }
    }
}