@import './styles.scss';
.main{
    height: 100vh;
   
    &-wrapper{
        display: flex;
        flex-flow: row wrap;
         position: relative;

        &-title{
            font-size: 200px;
            font-weight: bold;
            position: absolute;
            z-index: 1;

            & li:nth-child(2){
                @include font-style($color:#fff, $text-shadow:(-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000));
            }
        }

        &-images{
            position: absolute;
            right: 0;
            width: 50%;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
