@import './style.scss';

  .modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 9999;
  
    &-wrapper {
      width: 100%;
      max-width: 60%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid black;
      background-color: white;
      padding-bottom: 10px;

    }
  }
  
  .modal-item-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0px 0px;
    box-sizing: border-box;
    margin-left: 10px;
  
    &-close {
      font-size: 10px;
      cursor: pointer;
    }
  }
  
  .modal-item-papges {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
   
  
    &-open {
      border: 1px solid black;
      padding: 10px 10px;
      cursor: pointer;
      margin-right: 10px;
  
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
  .pages-showbox {
    margin-top: 10px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    overflow-y: scroll;
  
    &-inner {
      width: 100%;
      padding: 10px;
      background-color: white;
      box-sizing: border-box;
      
      img{
        width: 100%;
        border: 1px solid gray;
        box-sizing: border-box;

      }
    }
  }

  @include mobile{
  
    .modal-wrapper{
      max-width: 90%;
    }
    .modal-item-papges{
      flex-flow: column;
      align-items: flex-start;
      padding-right: 10px;
      box-sizing: border-box;

      &-open{
        width: 100%;
        padding: 10px 5px;
        box-sizing: border-box;
        margin: 10px 0 15px 0;

        :hover{
          background-color: black;
          color: white;
          border: 1px solid white;
        }
      }
    }

    .pages-showbox{
      max-height: 200px;
    }

    .pages-showbox-inner{
     
      h3{
        display: none;
      }

      img{
        width: 100%;
      }
    }
  }