@import './style.scss';
@import './mixin';

//제목 폰트 스타일
.contents-title{
    padding: 50px 0 50px;
    font-size: 120px;
    @include font-style($color:#fff, $text-shadow:(-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000));
}

//Description.jsx 스타일
.description-list{
    
    &-date{
        color:#b34831;
        font-size: 20px;
        font-weight: lighter;
    }

    &-title{
        margin: 5px 0 10px;
        font-size: 14px;
        
        strong{
            margin-right: 5px;
            font-size: 18px;
        }
    }

    &-text{
        color: #666666;
    }

    &-skill{
        border: 1px solid #d5d5d5;
        padding: 10px 10px;
        margin: 10px 0 20px;
        font-size: 15px;
        box-sizing: border-box;

        span{
            display: block;
            color:#b34831;
            font-size: 16px;
            margin-bottom: 5px;
        }
    }
}

@include mobile{
    .contents-title{
        font-size:50px
    }
}
