@import './style.scss';

.work{
    width: 100%;
    height: auto;

    &-wrapper{
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
}

.contents-title{
    padding: 50px 0 50px;
    font-size: 120px;
    @include font-style($color:#fff, $text-shadow:(-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000));
}

.work-gallay-container{
    width: 90%;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap :30px;

    &-item{        
        overflow: hidden;
        border: 1px solid gray;
    }
}

.container-item-button{
    width: 100%;
    display: block;
    cursor: pointer;
    
    img{
        width: 100%;
        display: block;

        &:hover{
            opacity: 1;
            transition: all 0.2s;
        }
    }
}



@include mobile{
    .work-gallay-container{
        grid-template-columns: 1fr 1fr;
    }  
}


@include tablet{
    .work-gallay-container{
        grid-template-columns: 1fr 1fr 1fr;
    }  
}
